* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dd0e0e;
    padding: 15px 30px;
    color:#FFF;
}

.navbar nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: 500;
}

.navbar nav a.active {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

.cart-items h2 {
    margin-bottom: 15px;
}

.cart-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.item {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color:#fff5f5;
}

.item img {
    width: 100px;
    border-radius: 6px;
}

.price {
    font-weight: bold;
}

.summary {
    float: right;
    width: 30%;
    margin-top: 25px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff5f5;
}

.summary h2 {
    margin-bottom: 10px;
}

.summary button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color:#f5a4a4; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.summary button:hover {
    background-color: #e07c7c
}

.clear {
    clear: both;
}

footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    background-color: #eee;
}

@media (max-width: 768px) {
    .summary {
        float: none;
        width: 100%;
    }

    .item {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
